body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html,
body,
.photo-gallery {
  height: 100%;
}
.photo-view {
  position: relative;
  height: 100%;
}
.photo-frame {
  height: 100%;
  position: relative;
  text-align: center;
  perspective: 1500px;
}
.photo-view-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.photo-view-list li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: animation;
  /*pointer-events: none;*/
  transform: translate3D(0px, 0px, -50px);
  z-index: -1;
  opacity: 0;
}
.photo-view-list .current-for {
  animation: show-for .5s ease-out forwards;
}
.photo-view-list .prev1-for {
  animation: hide-for .5s ease-out forwards;
}
.photo-view-list .current-back {
  animation: show-back .5s ease-out forwards;
}
.photo-view-list .next1-back {
  animation: hide-back .5s ease-out forwards;
}
.photo-view-prev {
  position: absolute;
  top: 50%;
  left: 0;
}
.photo-view-next {
  position: absolute;
  bottom: 5%;
  right: 10%;
  width: 7%;
  background: url(icon_next.png) no-repeat;
  background-size: 100%;
  border:0;
  text-indent: -9999px;
}

.page {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.page-inner {
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  background-size: 100%;
}
.page img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.p1 {
  background-image: url(bg_1_1.jpg);
}
.p1 .page-inner {
  background-image: url(bg_1_2.jpg);
}
.p1 img {
  width: 71.6666%;
}
.p2 {
  background-image: url(bg_2.jpg);
}
.p2 img {
  width: 68.2407%;
}
.p3 {
  background-image: url(bg_3.jpg);
}
.p3 img {
  width: 67.4074%;
}
.p4 {
  background-image: url(bg_4.jpg);
}
.p4 img {
  width: 72.5%;
}
.p4 .map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46.6145%;
}
.p4 .map img {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateX(0) translateY(0);
}

@keyframes hidden {
  0%,
  100% {
    transform: translate3D(0px, 0px, -50px);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes hide-for {
  0% {
    transform: translate3D(0px, 0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate3D(-100%, 0px, 0px);
    opacity: 0;
    z-index: 1;
  }
}
@keyframes show-for {
  0% {
    transform: translate3D(0px, 0px, -50px);
    opacity: 0;
  }
  100% {
    transform: translate3D(0px, 0px, 0px);
    opacity: 1;
    z-index: 2;
  }
}
@keyframes hide-back {
  0% {
    transform: translate3D(0px, 0px, 0px);
    opacity: 1;
    z-index: 2;
  }
  100% {
    transform: translate3D(0px, 0px, -50px);
    opacity: 0;
    z-index: 1;
  }
}
@keyframes show-back {
  0% {
    transform: translate3D(-100%, 0px, 0px);
    opacity: 0;
    z-index: 1;
  }
  100% {
    transform: translate3D(0px, 0px, 0px);
    opacity: 1;
    z-index: 2;
  }
}

@media (max-width: 720px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
}
